body {
  color: rgb(19, 2, 250);
  background-color: #ccdcf8;
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid #000; */
}

.item {
  min-height: 50px;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 5px 15px;
  border-bottom: 1px solid #000;
}
